@*@{
        ViewData["Title"] = "Home Page";
    }

    <div class="text-center" id="blog-title">
        <h1 class="display-4">MBC - Meu Bloguinho Camarada</h1>
        <p>study and share, a learning philosophy</p>
    </div>

    <div class="alert alert-info show" id="connection-status"></div>

    <div class="blog-list card-columns" id="blog-list"></div>


    <div id="blog-item-container"></div>

    <div class="center">
        <button class="btn btn-primary"
                onclick="pageEvents.loadMoreBlogPosts();">
            ver mais
        </button>
        <br /><br />
    </div>

    <script id="blog-item" type="text/template">
        <div id="{{Link}}" class="blog-item">
            {{Content}}
        </div>
        <a href="#blog-title" class="btn btn-primary">voltar</a>
    </script>

    <script id="blog-card" type="text/template">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    {{PostId}} -
                    {{Title}}
                </h5>
                <p class="cardtext">
                    {{ShortDescription}}
                </p>
                <button class="btn btnprimary" onclick="pageEvents.loadBlogPost('{{Link}}');">
                    ir
                </button>
            </div>
        </div>
    </script>*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="blog-title">
    <h1 class="display-4">MBC - Meu Bloguinho Camarada</h1>
    <p>Subtítulo legal</p>
</div>

<div class="alert alert-info show" id="connection-status"></div>

<div class="blog-list card-columns" id="blog-list">
</div>

<div class="center">
    <button class="btn btn-primary" onclick="pageEvents.loadMoreBlogPosts();">ver mais</button>
    <br /><br />
</div>

<div id="blog-item-container"></div>

<script id="blog-card" type="text/template">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{PostId}} - {{Title}}</h5>
            <p class="card-text">{{ShortDescription}}</p>
            <button onclick="pageEvents.loadBlogPost('{{Link}}');" class="btn btn-primary">ir</button>
        </div>
    </div>
</script>
<script id="blog-item" type="text/template">
    <div id="{{Link}}" class="blog-item">
        {{Content}}
    </div>
    <a href="#blog-title" class="btn btn-primary" onclick="pageEvents.ExitBlogPost()">voltar</a>
    
</script>

<script id="blog-content-not-found" type="text/template">
    <h1>
        Ups, artigo não está no Cache!
    </h1>
    <div>
        Você quer que a gente continue tentando fazer download do artigo
        em plano de fundo e te avise quando estiver disponível?
    </div>
    <br />
    <button class="btn btn-success">Sim!</button>
</script>